<!doctype html>
<html id="outerhtml">
  <head>
    {% block head %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/htmx.js')}}"></script> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/disable-element.js')}}"></script> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> -->
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body id="body">
    <h1 class="header">
      {% block heading %}{% endblock %}
    </h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash_{{ category }}">{{ message }}</div>
          <br>
        {% endfor %}
      {% endif %}
    {% endwith %}    
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
