{% extends "base.html" %}
{% block title %}Convert Image to SVG{% endblock %}
{% block heading %}Convert Image to SVG{% endblock %}
{% block content %}
  <form action="/" method="post" enctype="multipart/form-data"> 
    {{ form.hidden_tag() }}
    <table class="input">
      <tr>
        <td><b>{{ form.file_name.label }}: </b></td>
        <td>{{ form.file_name }}</td>
      </tr>
      <tr>
        <td>
          <div>
            <button type="submit" name="submit" value="image_file" hx-ext="disable-element">
              {{ form.submit.label }}
            </button>
          </div>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}

